<h3>{{category.name}} {{theme-i18n "kb.sidebar.title"}}</h3>

{{#each tags as |tag|}}
    {{knowledge-base-tag
      tag=tag category=category
      activeTagSelection=activeTagSelection
      resetSearchResults=resetSearchResults}}
{{/each}}

{{#if subtags}}
   {{#each subtags as |tag|}}
     {{knowledge-base-tag
       tag=tag
       category=category
       activeTagSelection=activeTagSelection
       resetSearchResults=resetSearchResults
       subtag=true}}
   {{/each}}
{{/if}}
