.kb-active {
  .kb-search {
    font-size: $font-up-2;
    padding: 1.5em 1em;

    .kb-search-bar {
      height: 50px;
      margin-bottom: 0px;
      width: 500px;
    }
  }
  .kb-area {
    .kb-tags {
      flex-basis: 25%;
      margin-right: 25px;
    }
    .contents,
    .kb-search-results {
      flex-basis: 75%;
    }
  }
}
