.kb-active {
  .kb-search {
    font-size: $font-up-2;
    padding: 1.5em 1em;

    .kb-search-bar {
      height: 50px;
      margin-bottom: 0px;
      width: 500px;
    }
  }
  .kb-area {
    .kb-tags {
      flex-basis: 25%;
      @if $sticky-sidebar == "true" {
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
        align-self: flex-start;
        max-height: calc(100vh - 100px);
        overflow: hidden;
        overflow-y: scroll;
      }
    }
    .contents,
    .kb-search-results {
      flex-basis: 75%;
      padding-left: 25px;
      border-left: 1px solid $primary-low;
    }
  }
}
